.cards-list-navigation{
    background-color:#51A4FB;
    color: white;
    padding: 20px;

}
.cards-list-header{
    margin: 6px;
}
.cards-list-title{
    margin: 0;
    font-size: 3em;
}
.cards-list{
    list-style: none;
}
ul{
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    border: 1px solid lightgray;
    margin: 10px;
    padding: 15px;
    /* border-radius: 15px; */
    box-shadow: 5px 5px lightgray;
    background-color: white;
    text-align: center;

    -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
}

li:hover{
    -webkit-filter: brightness(90%);
	-moz-filter: brightness(90%);
	-o-filter: brightness(90%);
	-ms-filter: brightness(90%);
	filter: brightness(90%);
}
@media screen and (max-width: 1000px) {
    li{
        display: block;
        width: 90%;
    }
}


