.cards-list-navigation{
    background-color:rgb(50, 127, 191);
    color: white;
    padding: 20px;

}
.cards-list-header{
    margin: 6px;
}
.cards-list-title{
    margin: 0;
    font-size: 3em;
}
.cards-list{
    list-style: none;
}
ul{
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    display: inline-block;
    width: 16%;
    border: 1px solid lightgray;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px lightgray;
    background-color: white;
    text-align: center;
}
