.edit-card-navigation{
    background-color:#51A4FB;
    color: white;
    padding: 20px;
}
.edit-card-header{
    margin: 0px;
}
.edit-card-title{
    margin: 6px;
    font-size: 3em;
}
.edit-card-form{
    padding: 2em 4em;
}
.edit-card-section-one{
    border-bottom: 1px solid;
    margin: 0 52em 1em 0;
    padding: 0 0 1em 0;
}
.edit-card-section-two{
    border-bottom: 1px solid;
    margin: 0 52em 1em 0;
    padding: 0 0 1em 0;
}
@media screen and (max-width: 600px){
    select{
        border: 1px solid;
        margin: 2px;
    }
    .edit-card-form{
        padding: 0;
    }
    .edit-card-section-one{
        margin: 0;
        padding: 10px;
    }
    .edit-card-section-two{
        margin: 0;
        padding: 10px;
    }
    .edit-card-section-three{
        margin: 0;
        padding: 10px;
    }
}