*{
    box-sizing: border-box;
}
html{
    background-color: #F1F9FB;
}
body{
    margin: 0;
}
.navigation{
    width: 100%;
    background-color: rgb(50, 127, 191);
    color: white;
    padding: 20px 0 20px 70em;
}

.home-header{
    text-align: center;
    padding: 1em 4em;
    background-color: rgb(50, 127, 191);
    color: white;
}
.home-title{
    font-size: 4em;
    margin: 0px;
    animation: fadeIn 1s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.home-subtitle{
    margin-top: 5px;
    animation: fadeIn 1s;
}

.about-section{
    display: flex;
    width: 75%;
    margin: auto;
    animation: fadeIn 3s;

}

.column {
    flex: 1;
    margin: 10px;
}