.register-header{
    background-color:#51A4FB;
    color: white;
    padding: 20px;
    margin-bottom: 1em;

}
.register-title{
    margin: 6px;
    font-size: 3em;
}
.register-form{
    width: 27%;
    margin: auto;
    border: 1px solid lightgrey;
    padding: 2em;
    background-color: white;
}
.register-form-title{
    margin-top: 0;
    text-align: center;
}
.register-form .password{
    margin: 0;
    margin-bottom: 5px;
}
.register-position{
    display: inline-block;
    margin-left: 10px;
}
.register-form label{
    display: block;
}
.select-label{
    display: inline-block; 
}

@media screen and (max-width:600px){
    .register-form{
        width: 95%;
    }
    input{
        border: 1px solid  lightgray;
    }
}